.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
  
.pagingContainer {
  width: 100%;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.pagingContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formControl {
  width: 120px;
}

.commentsCountLabel {
  display: flex;
  justify-content: center;
}